*{
    padding:0;
    margin:0;
  }
  
  body{
    background-image:url("https://bit.ly/3m16YGw");
    background-repeat:no-repeat;
    background-size:200% 200%;
  }
  
  #pole{
    height:400px;
    width:10px;
    background-color:black;
    margin-left:500px;
    margin-top:200;
    z-index:1;
  }
  
  #flag{
    display:none; 
    width:200px;
    height:120px;
    position:absolute;
    left:505px;
    top:220px;
    animation: mymove 5s;
  }
  
  @keyframes mymove{
    0%{top:600px;}
    100%{top:220px;}
  }
  
  .caption{
    position:absolute;
    top:410px;
    left:950px;
    height:50px;
    color:#023577;
    font-weight:bold;
    font-size:35px;
    text-align:center;
    }
  
  #wish{
    display:none;
    font-size:45px;
    left:800;
  }  